.form_item{
    height: 50px;
    width: 100%;
    border: 1px solid #d2d6dc;
    border-radius: 5px;
    margin-bottom: 30px;
}
.form_item1{
    height: 50px;
    width: 100%;
    border: 1px solid #d2d6dc;
    border-radius: 5px;
    margin-bottom: 30px;
}
.form_hidden{
display: none;
}
.full_form1{
    display: block;
}
.tab-component {
    height: auto;
    overflow: hidden;
}

.tab-contents {
    height: auto;
    overflow: auto;
}

td {
    padding-left: 4px;
    padding-right: 4px;
}
